In [297]:
import pandas as pd

In [298]:
file_path = 'C:\\Users\\ASUS\\Desktop\\Recomendor System\\Exercise-3\\ml-100k\\u.data'

In [299]:
columns = ['user_id', 'movie_id', 'rating', 'timestamp']

In [300]:
df = pd.read_csv(file_path, sep='\t', names=columns)

In [301]:
display(df)

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [302]:
rows,columns= df.shape

In [303]:
print(f"The number of columns in this data set is = {columns}")
print(f"The number of rows in this data set is = {rows}")

The number of columns in this data set is = 4
The number of rows in this data set is = 100000

In [304]:
"""Filter the data for User ID 196"""
user_196_data = df[df['user_id'] == 196]
display(user_196_data)
print(f"The number of rows of user_id 196 is = {user_196_data.shape[0]}")

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
940        196       393       4  881251863
1133       196       381       4  881251728
1812       196       251       3  881251274
1896       196       655       5  881251793
2374       196        67       5  881252017
6910       196       306       4  881251021
7517       196       238       4  881251820
7842       196       663       5  881251911
10017      196       111       4  881251793
10254      196       580       2  881252056
10981      196        25       4  881251955
13733      196       286       5  881250949
14606      196        94       3  881252172
16834      196       692       5  881252017
17102      196         8       5  881251753
17830      196       428       4  881251702
18853      196      1118       4  881252128
21605      196        70       3  881251842
22271      196        66       3  881251911
22773      196       257       2  881251577
23189      196       108       4  881252110
24030      196       202       3  881251728
25726      196       340       3  881251045
32721      196       287       3  881251884
33536      196       116       3  881251753
35197      196       382       4  881251843
36281      196       285       5  881251753
41539      196      1241       3  881251642
42384      196      1007       4  881251601
50147      196       411       4  881252090
52726      196       153       5  881251820
56628      196        13       2  881251955
59165      196       762       3  881251955
59607      196       173       2  881251820
60199      196      1022       4  881251143
60706      196       845       4  881251954
78787      196       269       3  881250949
87863      196       110       1  881252305

The number of rows of user_id 196 is = 39

In [305]:
from scipy.stats import pearsonr
from collections import defaultdict

In [306]:
"""Create a user-item matrix"""
user_item_matrix = df.pivot_table(index='movie_id', columns='user_id', values='rating')

In [307]:
user_item_matrix

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,...,2.0,3.0,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN
2,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [308]:
"""Function to calculate Pearson correlation between users"""
def calculate_pearson_correlation(user_item_matrix):
    user_corr = user_item_matrix.corr(method='pearson', min_periods=5)
    return user_corr

In [309]:
correlation_matrix=calculate_pearson_correlation(user_item_matrix).fillna(0)

In [310]:
correlation_matrix

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.608412e-01,0.112780,0.500000,0.420809,0.287159,0.258137,0.692086,-0.102062,-0.092344,...,0.061695,-2.602417e-01,0.383733,2.899974e-02,0.326744,5.343904e-01,0.263289,0.205616,-0.180784,0.067549
2,0.160841,1.000000e+00,0.067420,0.148522,0.327327,0.446269,0.643675,0.585491,0.242536,0.668145,...,0.021007,-2.711631e-01,0.214017,5.616449e-01,0.331587,-7.671236e-18,-0.011682,-0.062017,0.085960,0.479702
3,0.112780,6.741999e-02,1.000000,-0.262600,0.000000,-0.109109,0.064803,0.291937,0.000000,0.311086,...,0.000000,0.000000e+00,-0.045162,-5.233642e-17,-0.137523,0.000000e+00,-0.104678,0.000000,-0.011792,0.000000
4,0.500000,1.485221e-01,-0.262600,1.000000,0.000000,-0.581318,-0.266632,0.642938,0.000000,0.000000,...,0.000000,0.000000e+00,-0.203653,0.000000e+00,0.375000,0.000000e+00,0.850992,0.000000,0.412568,0.000000
5,0.420809,3.273268e-01,0.000000,0.000000,1.000000,0.241817,0.175630,0.537400,0.000000,0.087343,...,0.229532,-5.000000e-01,0.439286,6.085806e-01,0.484211,8.807048e-01,0.027038,0.468521,0.318163,0.346234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.534390,-7.671236e-18,0.000000,0.000000,0.880705,0.206315,0.142404,0.000000,0.000000,0.316228,...,0.374351,-3.305898e-02,0.471172,-2.758386e-01,-0.073374,1.000000e+00,-0.534522,-0.131306,0.000000,-0.187317
940,0.263289,-1.168173e-02,-0.104678,0.850992,0.027038,-0.024419,0.000931,0.320487,0.171499,0.158976,...,-0.125059,4.352858e-01,-0.338327,-1.486075e-01,0.110022,-5.345225e-01,1.000000,0.632746,-0.022813,0.332497
941,0.205616,-6.201737e-02,0.000000,0.000000,0.468521,0.399186,0.000000,0.166667,0.000000,0.420084,...,0.000000,-2.355139e-16,0.273060,3.929526e-01,-0.214147,-1.313064e-01,0.632746,1.000000,0.000000,-0.395285
942,-0.180784,8.596024e-02,-0.011792,0.412568,0.318163,0.092349,0.452075,0.201328,0.000000,0.408994,...,0.438252,0.000000e+00,-0.216119,4.472136e-01,0.244989,0.000000e+00,-0.022813,0.000000,1.000000,0.277433
943,0.067549,4.797016e-01,0.000000,0.000000,0.346234,0.109833,0.279081,0.040741,0.000000,0.119523,...,0.081880,7.881104e-02,-0.117941,-7.426107e-01,0.426501,-1.873172e-01,0.332497,-0.395285,0.277433,1.000000

In [311]:
import numpy as np
user_mean_ratings = user_item_matrix.mean(axis=0)

In [312]:
def predict_score(active_user, item, user_item_matrix, correlation_matrix):
    """Calculate mean ratings for each user"""
   
    
    """Get active user mean rating and item ratings by other users"""
    active_user_mean = user_mean_ratings.get(active_user, 0)
    item_ratings = user_item_matrix.loc[item].dropna()
    
    """Get correlations for the active user with others"""
    user_correlations = correlation_matrix.get(active_user, {})
    
    """Sorting the user_correlations matrix"""
    user_correlations=user_correlations.sort_values(ascending=False)
    
    """Sececting the top 50 similar users"""
    user_correlations=user_correlations[0:51,]
    
    """Calculate the weighted sum of deviations from the mea"""
    weighted_sum = sum(user_correlations.get(other_user, 0) * (item_rating - user_mean_ratings.get(other_user, 0))
                       for other_user, item_rating in item_ratings.items()
                       if other_user != active_user)
    
    """Calculate the sum of the absolute values of the correlations"""
    sum_of_correlations = sum(abs(user_correlations.get(other_user, 0))
                              for other_user in item_ratings.index
                              if other_user != active_user)
    
    """Predict the score"""
    if sum_of_correlations == 0:
        """If there are no correlations, return the active user's mean rating"""
        return active_user_mean
    else:
        """Adjust the active user's average by the weighted sum of deviations"""
        prediction = active_user_mean + (weighted_sum / sum_of_correlations)
        
        return  prediction

In [313]:
def get_recommended_movies(user_id, user_item_matrix, correlation_matrix):
    """Get the mean ratings for each user"""
    user_mean_ratings = user_item_matrix.mean(axis=1)
    """Get the list of movies the user hasn't rated yet"""
    unrated_movies = user_item_matrix.loc[user_item_matrix[user_id].isna(), :]
    """Dictionary to store the predicted ratings"""
    predictions = {}
    
    for movie_id in unrated_movies.index:
        """Predict the rating for each unrated movie"""
        predicted_rating = predict_score(user_id, movie_id, user_item_matrix, correlation_matrix)
        predictions[movie_id] = predicted_rating
    
    """Sort the predicted ratings in descending order and get the top n movies"""
    recommended_movies = sorted(predictions.items(), key=lambda x: x[1], reverse=True)
    return recommended_movies

In [314]:
user=196

In [315]:
recommended_movies=get_recommended_movies(user, user_item_matrix, correlation_matrix)

## Movie score predection for a group of three users with Average Method

In [316]:
User_1 = 196
User_2 = 222
User_3 = 12

group_average_method=[User_1,User_2,User_3]
user_recomendations_average_method={}

In [317]:
for user in group_average_method:
    uses_recomendation=get_recommended_movies(user, user_item_matrix, correlation_matrix)
    user_recomendations_average_method[user]=  dict(uses_recomendation)

In [318]:
def predected_score_avarage_method(user_recomendations_average_method):
    first_user= user_recomendations_average_method[User_1]
    second_user=user_recomendations_average_method[User_2]
    third_user= user_recomendations_average_method[User_3]
    all_keys=set(first_user.keys()) | set(second_user.keys()) | set(third_user.keys())
    mean_value_of_movies = {key: (first_user.get(key, 0) + second_user.get(key, 0)+ third_user.get(key,0) )/ 3 for key in all_keys}
    sorted_mean_value_of_movies=sorted(mean_value_of_movies.items(), key=lambda x: x[1], reverse=True)
    return sorted_mean_value_of_movies

In [319]:
sorted_predected_score_avarage_method=predected_score_avarage_method(user_recomendations_average_method)

## Movie score predection for a group of three users with Least Misery method

In [320]:
User_1 = 196
User_2 = 222
User_3 = 12

group_least_misery_method=[User_1,User_2,User_3]
user_recomendations_least_miseary={}

In [321]:
for user in group_least_misery_method:
    uses_recomendation=get_recommended_movies(user, user_item_matrix, correlation_matrix)
    user_recomendations_least_miseary[user]=  dict(uses_recomendation)

In [322]:
def predected_score_least_misery(user_recomendations_least_miseary):
    first_user= user_recomendations_least_miseary[User_1]
    second_user=user_recomendations_least_miseary[User_2]
    third_user= user_recomendations_least_miseary[User_3]
    common_keys =set(first_user.keys()) & set(second_user.keys()) & set(third_user.keys())
    min_values = {key: min(first_user[key],second_user[key],third_user[key]) for key in common_keys}
    
    sorted_min_value_of_movies=sorted(min_values.items(), key=lambda x: x[1], reverse=True)
    return sorted_min_value_of_movies

In [323]:
sorted_predected_score_least_misery=dict(predected_score_least_misery(user_recomendations_least_miseary))

# First itaration for Sequential Hybrid Aggregation Method

In [324]:
sequential_group_recomendation_key={}

In [325]:
"Initially first aloha is zero"
alpha_first=0

In [326]:
def sequential_hybrid_aggregation_method(average_method_scores, least_misery_scores, alpha):
    group_scores = {}
     
    for movie_id, avg_score in average_method_scores:
        least_score = least_misery_scores.get(movie_id, 0)
        score = (1 - alpha) * avg_score + alpha * least_score
        if movie_id not in sequential_group_recomendation_key:
            group_scores[movie_id] = score
    sorted_group_scores = sorted(group_scores.items(), key=lambda x: x[1], reverse=True)
    return sorted_group_scores

In [327]:
first_itaration= sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_first)

In [328]:
top_ten_first_itaration = dict(first_itaration[:10])

In [329]:
top_ten_first_itaration

{361: 4.93788214371975,
 1233: 4.855417489993413,
 60: 4.808180090015622,
 902: 4.7219026808213025,
 923: 4.613734573679286,
 316: 4.580706464706021,
 515: 4.550358555967716,
 10: 4.511253786278218,
 664: 4.501835732152288,
 272: 4.483274731459637}

In [330]:
sequential_group_recomendation_key.update(top_ten_first_itaration)

In [331]:
group=[User_1,User_2,User_3]
satisfaction_list=[]

In [332]:
def calculate_satisfaction(group_recomendation_ratings, group):
    
    for user in group:
    
        recommended_movies_for_single_user_dict=dict(get_recommended_movies(user, user_item_matrix, correlation_matrix))
        recommended_movies_for_single_user=get_recommended_movies(user, user_item_matrix, correlation_matrix)
     
        group_list_sat=0
        for i in group_recomendation_ratings:
            group_list_sat=group_list_sat+recommended_movies_for_single_user_dict[i]

        user_top_ratings=dict(recommended_movies_for_single_user[:10])
        user_list_sat = sum(user_top_ratings.values())
        satisfaction = group_list_sat / user_list_sat 
        satisfaction_list.append(satisfaction)
        
    return satisfaction_list

In [333]:
satisfaction_list_one= calculate_satisfaction(top_ten_first_itaration, group)

In [334]:
satisfaction_list_one

[0.8314383336121213, 0.9222797819925119, 0.8706085932253944]

In [335]:
"Calculating value for second itaration alpha"
alpha_second=max(satisfaction_list_one)-min(satisfaction_list_one)

In [336]:
alpha_second

0.09084144838039065

# Second itaration for Sequential Hybrid Aggregation Method

In [337]:
second_itaration= sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_second)

In [338]:
top_ten_second_itaration = dict(second_itaration[:10])

In [339]:
top_ten_second_itaration

{224: 4.441181391556162,
 19: 4.408249261603226,
 474: 4.405732040371153,
 1067: 4.3921234551983686,
 513: 4.3464563125116165,
 615: 4.344642916859069,
 315: 4.32187929768168,
 511: 4.321003608633588,
 1172: 4.317523707966526,
 344: 4.314741232902946}

In [340]:
sequential_group_recomendation_key.update(top_ten_second_itaration)

In [341]:
group=[User_1,User_2,User_3]
satisfaction_list=[]

In [342]:
satisfaction_list_two= calculate_satisfaction(top_ten_second_itaration, group)

In [343]:
satisfaction_list_two

[0.8192625980394297, 0.8308155529562951, 0.8297472375327761]

In [344]:
alpha_third=max(satisfaction_list_two)-min(satisfaction_list_two)

In [345]:
"Calculating value for third itaration alpha"
alpha_third

0.011552954916865366

# Third itaration for Sequential Hybrid Aggregation Method

In [346]:
third_itaration= sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_third)

In [347]:
top_ten_third_itaration = dict(third_itaration[:10])

In [348]:
top_ten_third_itaration

{1099: 4.416400220662347,
 968: 4.412427128697927,
 408: 4.36721995480945,
 427: 4.364078970599362,
 61: 4.357357515772735,
 459: 4.348244278072968,
 207: 4.347664272863411,
 178: 4.3454581631711156,
 1006: 4.343699824052588,
 1388: 4.343699824052588}

In [349]:
sequential_group_recomendation_key.update(top_ten_third_itaration)

In [350]:
group=[User_1,User_2,User_3]
satisfaction_list=[]

In [351]:
satisfaction_list_three= calculate_satisfaction(top_ten_third_itaration, group)

In [352]:
satisfaction_list_three

[0.815164572997579, 0.7428408595989688, 0.8901326282651192]

In [353]:
alpha_forth=max(satisfaction_list_three)-min(satisfaction_list_three)

In [354]:
"Calculating value for forth itaration alpha"
alpha_forth

0.14729176866615035

-------------------------------

# Mordified Sequential Hybrid Aggregation Method

In our group recommendation method, we use the Variance Adjustment Factor (VAF) to moderate the influence of members who have a wide variety of tastes. This is done by applying VAF only to average scores, not to the least scores. So, if a member often rates things very differently, VAF reduces how much these ratings affect the group's average choice. However, this doesn't change their least favorite choices, ensuring these are still fully considered. This way, we make sure that the group's decisions are balanced, taking into account everyone's preferences, especially in diverse groups.

$$
\text{modifiedScore}(G, d_z, j) = (1 - \alpha_j)  \times \text{VAF}(G, d_z, j)\times \text{avarageScore}(G, d_z, j) + \alpha_j  \times \text{leastScore}(G, d_z, j)
$$

In group recommender systems, the Variance Adjustment Factor (VAF) is key for balancing user influence. It's calculated based on the variance in a user's ratings. Higher variance indicates a wider range of preferences, suggesting less predictability in their choices. The VAF formula, VAF=1/1+Variance, inversely links VAF to variance. As a result, users with higher variance (more diverse tastes) have a lower VAF, reducing their weight in group decisions. This approach ensures that users with consistent, reliable preferences have a stronger influence on group recommendations, aiming for a more stable and predictable group consensus.

In [468]:
User_1 = 196
User_2 = 222
User_3 = 12

group=[User_1,User_2,User_3]
user_recomendations_coustom={}

In [469]:
for user in group:
    uses_recomendation=get_recommended_movies(user, user_item_matrix, correlation_matrix)
    user_recomendations_coustom[user]=  dict(uses_recomendation)

In [470]:
def calculate_user_vaf(user_ratings):
    # Calculate the variance
    mean_rating = sum(user_ratings) / len(user_ratings)
    variance = sum((rating - mean_rating) ** 2 for rating in user_ratings) / len(user_ratings)

    # Calculate VAF (inversely proportional to the variance)
    vaf = 1 / (1 + variance)
    return vaf

In [471]:
User_1_vaf=calculate_user_vaf(user_recomendations_coustom[User_1].values())

In [472]:
User_2_vaf=calculate_user_vaf(user_recomendations_coustom[User_2].values())

In [473]:
User_3_vaf=calculate_user_vaf(user_recomendations_coustom[User_3].values())

In [474]:
group_vaf=(User_1_vaf+User_2_vaf+User_3_vaf)/3

In [475]:
group_vaf

0.7279004499822074

# First itaration for Mordified Sequential Hybrid Aggregation Method

In [476]:
sequential_group_recomendation_key={}
"Initially first aloha is zero"
alpha_first=0

In [477]:
def mordified_sequential_hybrid_aggregation_method(average_method_scores, least_misery_scores, alpha,group_vaf):
    group_scores = {}
     
    for movie_id, avg_score in average_method_scores:
        least_score = least_misery_scores.get(movie_id, 0)
        score = (1 - alpha) *group_vaf*avg_score + alpha * least_score
        if movie_id not in sequential_group_recomendation_key:
            group_scores[movie_id] = score
    sorted_group_scores = sorted(group_scores.items(), key=lambda x: x[1], reverse=True)
    return sorted_group_scores

In [478]:
first_itaration= mordified_sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_first,
    group_vaf)

In [479]:
top_ten_first_itaration = dict(first_itaration[:10])

In [480]:
sequential_group_recomendation_key.update(top_ten_first_itaration)

In [481]:
top_ten_first_itaration

{361: 3.594286634372713,
 1233: 3.5342605758176853,
 60: 3.4998764511178613,
 902: 3.4370750861420176,
 923: 3.3583394722796203,
 316: 3.3342982968959194,
 515: 3.312208040469288,
 10: 3.2837436610158512,
 664: 3.2768882551796303,
 272: 3.2633776944233293}

## The 10 movie recomendation for a group with Mordified Sequential Hybrid Aggregation Method for first itaration

In [482]:
file_path_movies = 'C:\\Users\\ASUS\\Desktop\\Recomendor System\\Exercise-1\\ml-100k\\u.item'

In [483]:
df_movies = pd.read_csv(file_path_movies, sep='|',encoding='ISO-8859-1')
num_columns = len(df_movies.columns)
df_movies = pd.read_csv(file_path_movies, sep='|', encoding='ISO-8859-1', header=None, names=range(num_columns))

In [484]:
df_movies=df_movies[[0,1]]

In [485]:
df_movies = df_movies.set_index(0)

In [497]:
print(f"The to 10 most recomended movies for the group with user {group[0]}, {group[1]} and {group[2]} with Mordified Sequential Hybrid Aggregation Method is given below:\n")
j=1
for index,i in top_ten_first_itaration.items():
    print(j,":",df_movies.loc[index][1])
    j+=1

The to 10 most recomended movies for the group with user 196, 222 and 12 with Mordified Sequential Hybrid Aggregation Method is given below:

1 : Incognito (1997)
2 : NÃ©nette et Boni (1996)
3 : Three Colors: Blue (1993)
4 : Big Lebowski, The (1998)
5 : Raise the Red Lantern (1991)
6 : As Good As It Gets (1997)
7 : Boot, Das (1981)
8 : Richard III (1995)
9 : Paris, Texas (1984)
10 : Good Will Hunting (1997)

In [487]:
group=[User_1,User_2,User_3]
satisfaction_list=[]

In [488]:
satisfaction_list_one= calculate_satisfaction(top_ten_first_itaration, group)

In [489]:
"Calculating value for second itaration alpha"
alpha_second=max(satisfaction_list_one)-min(satisfaction_list_one)

In [490]:
alpha_second

0.09084144838039065

# Second itaration for Mordified Sequential Hybrid Aggregation Method

In [491]:
second_itaration= mordified_sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_second,
    group_vaf)

In [492]:
top_ten_second_itaration = dict(second_itaration[:10])

In [493]:
sequential_group_recomendation_key.update(top_ten_second_itaration)

In [494]:
top_ten_second_itaration

{224: 3.335337289056635,
 19: 3.308162852798879,
 1067: 3.3020196956484797,
 474: 3.2984847991694273,
 513: 3.2592950815810666,
 615: 3.2565823189046688,
 511: 3.2423822100429422,
 315: 3.2408417839894597,
 344: 3.236813255872582,
 943: 3.2362999072574343}

## The 10 movie recomendation for a group with Mordified Sequential Hybrid Aggregation Method for second itaration

In [498]:
print(f"The to 10 most recomended movies for the group with user {group[0]}, {group[1]} and {group[2]} with Mordified Sequential Hybrid Aggregation Method is given below:\n")
j=1
for index,i in top_ten_second_itaration.items():
    print(j,":",df_movies.loc[index][1])
    j+=1

The to 10 most recomended movies for the group with user 196, 222 and 12 with Mordified Sequential Hybrid Aggregation Method is given below:

1 : Ridicule (1996)
2 : Antonia's Line (1995)
3 : Bottle Rocket (1996)
4 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
5 : Third Man, The (1949)
6 : 39 Steps, The (1935)
7 : Lawrence of Arabia (1962)
8 : Apt Pupil (1998)
9 : Apostle, The (1997)
10 : Killing Zoe (1994)

In [499]:
satisfaction_list_two= calculate_satisfaction(top_ten_second_itaration, group)

In [500]:
"Calculating value for second itaration alpha"
alpha_third=max(satisfaction_list_two)-min(satisfaction_list_two)

In [501]:
alpha_third

0.11487525338021298

# Third itaration for Mordified Sequential Hybrid Aggregation Method

In [502]:
thrid_itaration= mordified_sequential_hybrid_aggregation_method(
    sorted_predected_score_avarage_method, 
    sorted_predected_score_least_misery,
    alpha_second,
    group_vaf)

In [505]:
top_ten_thrid_itaration = dict(thrid_itaration[:10])

In [506]:
sequential_group_recomendation_key.update(top_ten_thrid_itaration)

In [507]:
top_ten_thrid_itaration

{1172: 3.232092227505501,
 178: 3.2185213243318698,
 1099: 3.210231872820098,
 1006: 3.2086204617878287,
 1388: 3.2086204617878287,
 459: 3.208515802554887,
 427: 3.2079043976648163,
 968: 3.207571841034361,
 1127: 3.207445401350104,
 657: 3.2062205405927653}

## The 10 movie recomendation for a group with Mordified Sequential Hybrid Aggregation Method for third itaration

In [508]:
print(f"The to 10 most recomended movies for the group with user {group[0]}, {group[1]} and {group[2]} with Mordified Sequential Hybrid Aggregation Method is given below:\n")
j=1
for index,i in top_ten_thrid_itaration.items():
    print(j,":",df_movies.loc[index][1])
    j+=1

The to 10 most recomended movies for the group with user 196, 222 and 12 with Mordified Sequential Hybrid Aggregation Method is given below:

1 : Women, The (1939)
2 : 12 Angry Men (1957)
3 : Red Firecracker, Green Firecracker (1994)
4 : Until the End of the World (Bis ans Ende der Welt) (1991)
5 : Gabbeh (1996)
6 : Cry, the Beloved Country (1995)
7 : To Kill a Mockingbird (1962)
8 : Inspector General, The (1949)
9 : Truman Show, The (1998)
10 : Manchurian Candidate, The (1962)